<section class="section stats-section mt-4">
  <div class="table-responsive">
    <table class="table-auto w-full">
      <thead>
      <tr class="bg-gray-600 text-gray-200 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-center">CM</th>
        <th class="py-3 px-6 text-center">SP</th>
        <th class="py-3 px-6 text-center">WP</th>
        <th class="py-3 px-6 text-center">LP</th>
        <th class="py-3 px-6 text-center">RP</th>
      </tr>
      </thead>
      <tbody class="text-gray-200 text-sm font-light">
      <tr class="border-b border-gray-200">
        <td class="py-3 px-6 text-center whitespace-nowrap">
          {{ currentCM }}
        </td>
        <td class="py-3 px-6 text-center">
          {{ currentSP }}
        </td>
        <td class="py-3 px-6 text-center">
          {{ currentWP }}
        </td>
        <td class="py-3 px-6 text-center">
          {{ currentLP }}
        </td>
        <td class="py-3 px-6 text-center">
          {{ currentRP }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
