<section class="section stats-section mt-4">
  <div class="table-responsive">
    <table class="table-auto w-full">
      <thead>
      <tr class="bg-gray-600 text-gray-200 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-center">CM</th>
        <th class="py-3 px-6 text-center">SP</th>
        <th class="py-3 px-6 text-center">WP</th>
        <th class="py-3 px-6 text-center">LP</th>
        <th class="py-3 px-6 text-center">RP</th>
      </tr>
      </thead>
      <tbody class="text-gray-200 text-xl font-light">
      <tr class="border-b border-gray-200">
        <td class="py-3 px-6 text-center whitespace-nowrap">
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('CM', -1)"
          >-</button>
          {{ currentCM }}
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('CM', 1)"
          >+</button>
        </td>
        <td class="py-3 px-6 text-center">
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('SP', -1)"
          >-</button>
          {{ currentSP }}
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('SP', 1)"
          >+</button>
        </td>
        <td class="py-3 px-6 text-center">
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('WP', -1)"
          >-</button>
          {{ currentWP }}
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('WP', 1)"
          >+</button>
        </td>
        <td class="py-3 px-6 text-center">
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('LP', -1)"
          >-</button>
          {{ currentLP }}
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('LP', 1)"
          >+</button>
        </td>
        <td class="py-3 px-6 text-center">
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('RP', -1)"
          >-</button>
          {{ currentRP }}
          <button class="bg-blue-500 text-sm hover:bg-blue-700 text-white font-bold mr-1 px-1 align-middle rounded"
                  (click)="updateStat('RP', 1)"
          >+</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
