<!-- character-view.component.html -->
<div class="bg-gray-600 max-w-sm rounded overflow-hidden shadow-lg mx-auto m-4">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 flex flex-row">
      {{ displayType() }}
      <button
        class="text-white h-1 text-xs rounded ml-1 p-1"
        (click)="deleteCharacter()"
      >
        X
      </button>
    </div>
    <hr/>
    <p class="my-2"><strong>CM:</strong> {{ character.cm }}</p>
    <p class="my-2"><strong>HP:</strong> {{ character.hp }}</p>
    <p class="my-2"><strong>SP:</strong> {{ character.sp }}</p>
    <p class="my-2"><strong>WP:</strong> {{ character.wp }}</p>
    <p class="my-2"><strong>LP:</strong> {{ character.lp }}</p>
    <p class="my-2"><strong>RP:</strong> {{ character.rp }}</p>
  </div>
  <app-skills-selector [character]="character"></app-skills-selector>
</div>
