<!-- character-view.component.html -->
<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ displayType() }}</div>
    <hr/>
    <p class="my-2"><strong>CM:</strong> {{ character.cm }}</p>
    <p class="my-2"><strong>HP:</strong> {{ character.hp }}</p>
    <p class="my-2"><strong>SP:</strong> {{ character.sp }}</p>
    <p class="my-2"><strong>WP:</strong> {{ character.wp }}</p>
    <p class="my-2"><strong>LP:</strong> {{ character.lp }}</p>
    <p class="my-2"><strong>RP:</strong> {{ character.rp }}</p>
    <p class="my-2"><strong>PP:</strong> {{ character.pp }}</p>
  </div>

  <div class="px-6 pt-4 pb-2 flex flex-col">
  <span class="inline-block px-3 py-1 text-sm font-semibold text-blue-700 mr-2" *ngFor="let option of getOptions()">
    <input type="checkbox" class="mr-2" (change)="changeCharacter(character)">{{ option }}
  </span>
  </div>
</div>
