<div class="flex justify-between items-center border-b-2 border-gray-200 py-4 px-6">
  <div>
    <span class="mr-2">PP:</span>
    <span class="mr-4">{{ powerPoints }}</span>
  </div>
  <!-- Party Name Section -->
  <div class="flex items-center text-xl font-bold">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mr-1 py-1 px-1 rounded"
            (click)="isEditMode=!isEditMode"
    >
      <svg *ngIf="!isEditMode" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="16"
           height="16">
        <path
          d="M13.498 2.502l.5-.5a1.464 1.464 0 0 1 2.068 0c.574.573.585 1.459 0 2.06l-.5.5-2.5-2.5zm-1.638 1.124l-2.5-2.5-8.5 8.5A2.514 2.514 0 0 0 0 13.5V16h2.5a2.51 2.51 0 0 0 1.5-.414l8.5-8.5a1.513 1.513 0 0 1 .56 2.124l4-4a1.569 1.569 0 0 1 0-2.122l-4 4z"/>
      </svg>
      <svg *ngIf="isEditMode" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="16"
           height="16">
        <path
          d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"/>
      </svg>
    </button>
    <span *ngIf="!isEditMode" class="mr-2">{{ partyName }}</span>
    <input *ngIf="isEditMode"
           class="shadow appearance-none border rounded py-2 px-6 mr-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           type="text"
           [(ngModel)]="partyName"
           (keydown.enter)="isEditMode=false">
  </div>

  <div class="flex items-center text-xl font-bold">
    <span class="mr-2">HP:</span>
    <button
      class="mx-2 bg-blue-500 hover:bg-blue-700 text-white text-sm py-.5 px-1 rounded"
      (click)="updateHp(-1)">
      -
    </button>
    <span class="mr-2">{{ currentHP }}</span>
    <button
      class="mx-2 bg-blue-500 hover:bg-blue-700 text-white text-sm py-0.5 px-1 rounded"
      (click)="updateHp(1)">
      +
    </button>
  </div>
</div>
